@page "/assignment1"

@inject HttpClient Http

<h3>Assignment : Send Emails</h3>
<table class="table table-striped">
    <div class="row">
        <div class="col-lg-3">
            <EditForm Model="@email">
                <tr>

                    <div>
                        <td><label>From Emails </label></td> 
                        <td>
                            <div>
                                <InputText @bind-Value="@email.FromEmail" />
                            </div>
                        </td>
                    </div>
                </tr>
        <tr>
           
            <div>

                <td><label>To List email :</label></td> 
                <td><div>
    <InputText @bind-Value="@email.ToEmail" />
</div></td>
                      </div>
        </tr>

                <tr>
                    <div>
                      <td>  <label>Heading :</label></td>
                        <td><div>
                            <InputText @bind-Value="@email.Subject" />
                        </div>
                        </td>
                    </div>
                </tr>
                <tr>
                <div>
                   <td> <label>Content :</label></td>
                    <td><div>
                        <InputTextArea @bind-Value="@email.Body" />
                    </div></td>
                </div>
                    </tr>
    <tr>
        <td>
                <div>
                    <button type="submit" class="btn btn-success" @onclick="@sendmail">
                        Send Email
                    </button>
                </div>
            </td>
        </tr>
            </EditForm>
        </div>

    </div>

</table>


@code {

    public Email email { get; set; }
    private Email[] emails;

    protected override async Task OnInitializedAsync()
    {
        email = new Email();
        email.Date = DateTime.Now;
        email.Status = "";
        emails = await Http.GetFromJsonAsync<Email[]>("Services");
    }
    public void sendmail()
    {
        Http.PostAsJsonAsync<Email>("Services", email);
        StateHasChanged();
    }
}
